.board{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.col{
    height: 60px;
    width: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    background-color: beige;
}
.val-0{
    background-color: beige;
}

.val-2 {
    background-color: #D4EBFF;
}
.val-4 {
    background-color: #6A96FF;
}
.val-8 {
    background-color: #0040FF;
}
.val-16 {
    background-color: #D4FFE2;
}
.val-32 {
    background-color: #6ACE8D;
}
.val-64 {
    background-color: #009D37;
}
.val-128 {
    background-color: #FFD4D4;
}
.val-256 {
    background-color: #CF6A6A;
}
.val-512 {
    background-color: #9E0000;
}

.val-1024 {
    background-color: #CFBC6A;
}
.val-2048 {
    background-color: #9E8600;
}
@media (min-width: 900px){
    .col{
        height: 100px;
        width: 100px;
    }
}
